{% load widget_tweaks %}

<div id="transaction-block" class="animate-fade-in-up">
    <div class="flex flex-col items-center mt-7 mb-7">
        <h1 class="prose prose-2xl text-white text-center font-semibold">
            Set Budget
        </h1>
    </div>

    <form hx-post="{% url 'set-budget' %}" hx-target="#transaction-block">
        {% csrf_token %}
        <div class="bg-gray-800 rounded-xl p-6 shadow-lg max-w-xl mx-auto animate-fade-in-up">
            <div class="mb-4 form-control flex flex-col text-black">
                {{ form.category|add_label_class:"label text-white mb-2 label-slide-in" }}
                <div class="flex items-center bg-gray-50 text-gray-900 px-3 py-2 rounded w-full">
                    {% render_field form.category class="bg-transparent outline-none w-full" %}
                </div>
            </div>

            <div class="mb-4 form-control flex flex-col">
                {{ form.amount|add_label_class:"label text-white mb-2 label-slide-in" }}
                <div class="flex items-center bg-gray-50 text-gray-900 px-3 py-2 rounded w-full">
                    <span class="text-gray-500 mr-2">$</span>
                    {% render_field form.amount class="bg-transparent outline-none w-full" %}
                </div>
                {% for error in form.amount.errors %}   
                    <p class="text-red-400 mt-1 animate-fade-in-up">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mb-4 form-control flex flex-col text-black">
                {{ form.month|add_label_class:"label text-white mb-2 label-slide-in" }}
                {% render_field form.month class="bg-gray-50 text-gray-900 px-3 py-2 rounded w-full" %}
            </div>

            <button class="bg-green-600 hover:bg-green-700 text-white font-semibold mt-2 py-2 px-7 rounded button-animate">
                Add
            </button>
            <button class="bg-red-600 hover:bg-red-700 text-white font-semibold ml-4 py-2 px-5 rounded button-animate"
                    hx-get="{% url 'transactions-list' %}" hx-target="#transaction-block" hx-push-url='/transactions'>
                Cancel
            </button>
            
        </div>
    </form>

            
    <script>
        document.body.addEventListener('htmx:afterSwap', function(event) {
            if (event.detail.target.id === 'transaction-block') {
                document.getElementById('transaction-block').scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>

</div>


<style>
    @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    }

    .animate-fade-in-up {
    animation: fadeInUp 1s ease-out;
    }

</style>
