{% load widget_tweaks %}


    <div class="flex flex-col items-center mt-7 mb-7">
        <h1 class="prose prose-2xl text-white text-center font-semibold">
            Update Transaction
        </h1>
    </div>

    <form hx-post ="{% url  'update-transaction' transaction.pk %}">
            {% csrf_token %}
        <div class="bg-gray-800 rounded-xl p-6 shadow-lg max-w-xl mx-auto">
            <div class="mb-4 form-control flex flex-col text-black">
                {{form.type|add_label_class:"label text-white mb-2"}}
                <div class="flex items-center bg-gray-50 text-gray-900 px-3 py-2 rounded w-full">
                    {% render_field form.type class="bg-transparent outline-none w-full" %}
                </div>
            </div>

            <div class="mb-4 form-control flex flex-col">
                {{form.amount|add_label_class:"label text-white mb-2"}}
                <div class="flex items-center bg-gray-50 text-gray-900 px-3 py-2 rounded w-full">
                    <span class="text-gray-500 mr-2">$</span>
                    {% render_field form.amount class="bg-transparent outline-none w-full" %}
                </div>
                {% for error in form.amount.errors %}   
                    <p class="text-red-400 mt-1">{{error}}</p>
                {% endfor %}
            </div>

            <div class="mb-4 form-control flex flex-col text-black">
                {{form.date|add_label_class:"label text-white mb-2"}}
                {% render_field form.date class="input bg-gray-50 text-gray-900 px-3 py-2 rounded w-full" %}
            </div>

            <div class="mb-4 form-control flex flex-col text-black">
                {{form.category|add_label_class:"label text-white mb-2"}}
                {% render_field form.category class="text-green-500 border-gray-300 rounded focus:ring-green-500 px-0.5 py-2" %}
            </div>

            <button class="bg-green-600 hover:bg-green-700 text-white font-semibold mt-2 py-2 px-7 rounded">
                Update
            </button>

            <button class="bg-red-600 hover:bg-red-700 text-white font-semibold ml-4 py-2 px-5 rounded" hx-get="{% url 'transactions-list' %}" hx-target="#transaction-block" onclick="document.getElementById('transaction-block').scrollIntoView({ behavior: 'smooth' });" hx-push-url = '/transactions' >
                Cancel
            </button>
        </div>
    </form>


